### 변수 Variable => 곧 상자
### 뭔가를 담을 수 있는데, 숫자, 문자 등 뭐든 담을 수 있다

In [3]:
재훈 = 25
하영 = 22
은진 = 20
재원 = 22
주은 = 20

In [4]:
print(재훈)

25

In [5]:
print(하영+은진)

42

In [6]:
하영은진 = 하영+은진

In [7]:
print(하영은진)

42

In [8]:
재원주은 = 재원*주은

In [9]:
print(재원주은)

440

In [13]:
재훈 = "튜터튜터튜터튜터튜터"

In [15]:
print(재훈)

튜터튜터튜터튜터튜터

In [16]:
len(재훈)

10

## 자료형

### 자료를 담을 수 있는 상자

### List

In [ ]:
# 보고서

# - 새의 종류
# 1. 도요새
# 2. 까마귀
# 3. 까치

In [17]:
list_name = []

In [18]:
type(list_name)

list

In [20]:
birds_name_list = ["도요새", "까마귀", "참새", "까치", "비둘기"]

In [21]:
print(birds_name_list)

['도요새', '까마귀', '참새', '까치', '비둘기']

In [24]:
test_list = [1, 100, 50.123, "리스트값", "코끼리", 재훈]

In [23]:
type(test_list)

list

In [25]:
print(test_list)

[1, 100, 50.123, '리스트값', '코끼리', '튜터튜터튜터튜터튜터']

In [26]:
print(birds_name_list)

['도요새', '까마귀', '참새', '까치', '비둘기']

In [27]:
# list이름.append(넣어줄 내용)
birds_name_list.append("앵무새")

In [31]:
print(birds_name_list)

['도요새', '까마귀', '참새', '까치', '비둘기', '앵무새']

In [29]:
a = []

In [30]:
type(a)

list

In [32]:
# 함수
print("Hi")
len(재훈)

# 매서드
# 대상이름.매서드이름(내용)

Hi

10

In [33]:
# list 기능을 쓰고 있고... append는 "list이름.append()" 꼴로 쓰이고 있으므로... list에 딸린 기능(매서드)라고 생각하면 쉬울 것 같아요

In [35]:
birds_name_list.remove("앵무새")

In [36]:
print(birds_name_list)

['도요새', '까마귀', '참새', '까치', '비둘기']

### Python Index
#### 형태 => 자료형이름[Index Number]

In [38]:
birds_name_list[1]

'까마귀'

In [39]:
# 보통 Computer에서 Index는 ... 0부터 시작한다.

In [40]:
# 우리가 일반적으로 생각하기에
# 도요새, 까마귀, 참새, 까치, 비둘기가 있으면 얘네 순서는
# 1, 2, 3, 4, 5인데...
# Computer는 0, 1, 2, 3, 4다.

In [43]:
birds_name_list[0] = '백로'

In [44]:
print(birds_name_list)

['백로', '까마귀', '참새', '까치', '비둘기']

In [45]:
동물이름_변수 = "사자"

In [46]:
print(동물이름_변수)

사자

In [47]:
동물이름_변수 = "사슴"

In [48]:
print(동물이름_변수)

사슴

In [50]:
birds_name_list = ['황새', '두루미', '학']

In [51]:
birds_name_list

['황새', '두루미', '학']

In [56]:
왼쪽자료형 = "값"

In [57]:
print(왼쪽자료형)

값

### Python 자료형 =>  List 말고도... 더 있어요 . 당연히

### Tuple 튜플

In [63]:
# 튜플의 특징 => 바꿀 수 없다. 절대로.
test_tuple = ("강아지", "고양이")

In [64]:
test_tuple

('강아지', '고양이')

In [65]:
test_tuple[0]

'강아지'

In [66]:
test_tuple[0] = "고양이"

TypeError: 'tuple' object does not support item assignment

### Dictionary 딕셔너리

In [72]:
#딕셔너리는 key와 value가 존재해요.
test_dictionary = {"key":"값"}

item_price = {"바나나":"500원", "딸기":"1500원", "망고":"3만원"}
item_price["바나나"]

'500원'

In [73]:
item_price["딸기"]

'1500원'

In [74]:
딸기 = "1500원"
바나나 = "500원"
망고 = "3만원"

In [76]:
# 전세계에 과일 종류가 한 .... 10만개 정도 있다고 가정을 해봅시다...
# 마트에 전세계의 과일이 다 있다. 다 판다.

### Set 집합

In [83]:
test_set = set([1,2,3,4,5,5,5,5,5])

In [84]:
test_set
# set(집합) = 중복이 없다.

{1, 2, 3, 4, 5}

In [85]:
# 중복이 없어야 하는 상황... 예시가 뭐가 있을까요?

In [ ]:
#

In [86]:
# 교실에 버려져있는 이름표를 싹 긁어모았다. 근데, 나는 학생이 몇명이나 있는지 모른다. 그래서 이 이름표들을 통해서, 학생들의 총 수를 파악하려고 한다.
# (가정 : 동명이인이 없다.)

In [87]:
name_tag = ["재훈", "재훈", "재훈", "은진", "은진", "재원", "하영", "하영", "주은"]

In [88]:
len(name_tag)

9

In [89]:
type(name_tag)

list

In [90]:
set(name_tag)

{'은진', '재원', '재훈', '주은', '하영'}

In [1]:
example_list = [1,1,1,2,2,2,3,3,3]

In [2]:
example_list = set(example_list)

In [3]:
type(example_list)

set

In [4]:
example_list

{1, 2, 3}

In [5]:
example_list = list(example_list)

In [6]:
example_list

[1, 2, 3]

In [7]:
type(example_list)

list

In [8]:
target_ls = [1,1,3,3,5,5]
target_ls = set(target_ls)
target_ls = list(target_ls)

### Bool 불 자료형
### 참 True or 거짓 False를 나타내는 자료형

In [93]:
10 > 5

True

In [94]:
10 > 100

False

In [96]:
# 참 거짓을 판별할때는, = 이퀄 하나가 아니라 반드시 == 두개를 쓴다.
"은진" == "주은"

False

In [97]:
"하영" == "하영"

True

In [98]:
"하 영" == "하영"

False

In [100]:
not (10 < 5)

True

In [101]:
not ("하영" == "하영")

False

In [102]:
not ("은진" == "주은")

True

## Python 자료형
### 숫자형, 문자형, List, Tuple, Dictionary, Bool, Variable

In [103]:
# 숫자형
# int
# float

In [ ]:
# 1 2 3 100 1000

In [ ]:
# 1.1 3.1415926535 0.1 0.0000001

In [107]:
# 정수를 실수 형태로 변환하기

type(10) # int 정수

int

In [108]:
float(10)

10.0

In [109]:
type(float(10))

float

In [110]:
pi = 3.1415926535

In [111]:
type(pi)

float

In [112]:
int(pi)

3

## 다음 주에 할거

In [113]:
# 제어문

In [114]:
# 제어문에는 
    #반복문
    #조건문

In [115]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [116]:
for i in birds_name_list:
    print(i)

황새
두루미
학

In [118]:
for i in range(1,11):
    print(i*100)

100
200
300
400
500
600
700
800
900
1000

In [121]:
box_1 = "참새"

In [122]:
if(box_1 == "참새"):
    print("참새가 들었습니다!")
else:
    print("참새가 안 들었습니다!")

참새가 들었습니다!

In [123]:
not_sorted_list = [10,5,4,7,8,9,333,10,12312]

In [130]:
not_sorted_list.sort( reverse=True )

In [131]:
not_sorted_list

[12312, 333, 10, 10, 9, 8, 7, 5, 4]