### Class 클래스

In [1]:
def adder(a, b):
    return a+b

In [2]:
adder(5, 10)

15

In [45]:
#각각 다른 계산기들에게 최신 값을 저장하고 싶다.

kim = 0
choi = 0
hong = 0

def adder1(a, b):
    global kim #전역변수를 이 함수 안에서 사용하겠다! 라는 선언
    kim = kim+a+b
    return kim

def adder2(a, b):
    global choi
    choi = choi+a+b
    return choi

def adder3(a, b):
    global hong
    hong = hong+a+b
    return hong

In [39]:
adder1(0,8)

14

In [40]:
kim

14

In [11]:
# 지역변수 -> local
# 전역변수 -> global

In [51]:
adder2(10, 50)

In [52]:
choi

360

In [63]:
# class 선언
class Cal:
    def adder(self, a, b): #메서드 method
        result = a+b
        return result
    def subtractor(self, a, b): #메서드 method
        result = a-b
        return result

In [56]:
print(type(adder_01))

<class '__main__.Adder'>

In [64]:
kim_cal = Cal()

In [65]:
kim_cal.adder(3, 5)

8

In [66]:
choi_cal = Cal()

In [67]:
choi_cal.subtractor(100, 7)

93

In [83]:
num = input()

5

In [85]:
# *
# **
# ***
# ****
# *****

In [ ]:
num = input()
if num==1:
    print('*')
elif num==2:
    print("**")
...

1<= N <= 100

In [90]:
num = input()

5

In [88]:
test_num = 7

In [89]:
print("*" * test_num)

*******

In [ ]:
num = input()
1~100

ex. 4
*
**
***
****

In [105]:
# 별찍기

num = int(input())
for star_num in range(1, num+1):
    print('*' * star_num)

5
*
**
***
****
*****

In [99]:
num = int(input())
for star_num in range(num):
    print('*' * (star_num+1))

5
*
**
***
****
*****

In [104]:
num = int(input())
count = 1
while(count<=num):
    print('*' * count)
    count = count+1

5
*
**
***
****
*****

In [106]:
# 숫자 뒤집어서 대소 판별하기 문제

상근이의 동생 상수는 수학을 정말 못한다. 상수는 숫자를 읽는데 문제가 있다. 이렇게 수학을 못하는 상수를 위해서 상근이는 수의 크기를 비교하는 문제를 내주었다. 상근이는 세 자리 수 두 개를 칠판에 써주었다. 그 다음에 크기가 큰 수를 말해보라고 했다.

상수는 수를 다른 사람과 다르게 거꾸로 읽는다. 예를 들어, 734와 893을 칠판에 적었다면, 상수는 이 수를 437과 398로 읽는다. 따라서, 상수는 두 수중 큰 수인 437을 큰 수라고 말할 것이다.

두 수가 주어졌을 때, 상수의 대답을 출력하는 프로그램을 작성하시오.

#### 입력
첫째 줄에 상근이가 칠판에 적은 두 수 A와 B가 주어진다. 두 수는 같지 않은 세 자리 수이며, 0이 포함되어 있지 않다.

#### 출력
첫째 줄에 상수의 대답을 출력한다.

#### 예제 입력 1 
734 893
#### 예제 출력 1 
437

In [114]:
num_1, num_2 = map(int, input().split())

734 893

In [115]:
if num_1 > num_2:
    print(num_1)
elif num_1 < num_2:
    print(num_2)

893

In [131]:
test_list = [1,2,3,4,5,6,7,8,9] #index는 0부터,,, 0, 1, 2, 3, 4

In [122]:
test_list[1:3]

[2, 3]

In [124]:
test_list[-1]

5

In [125]:
test_list[-2]

4

In [127]:
test_list[3:]

[4, 5]

In [128]:
test_list[:-3]

[1, 2]

In [134]:
test_list[1::4]

[2, 6]

In [137]:
test_list[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [138]:
test_str = 'Hello my name is Chulsoo'

In [142]:
test_str[6:13]

'my name'

In [143]:
test_str[::-1]

'oosluhC si eman ym olleH'

In [152]:
num_1, num_2 = input().split()

123 456

In [153]:
num_1 = num_1[::-1]
num_2 = num_2[::-1]

In [154]:
num_1

'321'

In [155]:
num_2

'654'

In [156]:
if num_1 > num_2:
    print(num_1)
elif num_1 < num_2:
    print(num_2)

654

In [157]:
num_1, num_2 = input().split()
num_1 = int(num_1[::-1])
num_2 = int(num_2[::-1])

if num_1 > num_2:
    print(num_1)
elif num_1 < num_2:
    print(num_2)

734 893
437